<footer class="main-footer">
<div class="container">
    <div class="footer-grid">
        <div>
           <div>Pirmā grupa</div>
           <ul>
            <li>Lorem, ipsum dolor.</li>
            <li>Lorem ipsum dolor sit.</li>
            <li>Lorem ipsum.</li>
            <li>Lorem.</li>
           </ul>
        </div>
        <div>
            <div>Otrā grupa</div>
           <ul>
            <li>Lorem, ipsum dolor.</li>
            <li>Lorem ipsum dolor sit.</li>
            <li>Lorem ipsum.</li>
            <li>Lorem.</li>
           </ul>
        </div>
        <div>
            <div>Trešā grupa</div>
           <ul>
            <li>Lorem, ipsum dolor.</li>
            <li>Lorem ipsum dolor sit.</li>
            <li>Lorem ipsum.</li>
            <li>Lorem.</li>
           </ul>
        </div>
    </div>
</div>
</footer>
