<mat-toolbar class="fixed-toolbar mat-elevation-z4">
  <span>SOS ciemats</span>
  <span class="spacer"></span>
  <div class="menu-icons">
    <a mat-mini-fab color="primary" routerLink="{{ route.landing.main.link }}">
      <mat-icon fontIcon="{{ route.landing.main.icon }}"></mat-icon>
    </a>
    <a mat-mini-fab color="primary" routerLink="{{ route.landing.info.link }}">
      <mat-icon fontIcon="{{ route.landing.info.icon }}"></mat-icon>
    </a>
    <a mat-mini-fab color="primary" routerLink="{{ route.landing.login.link }}">
      <mat-icon fontIcon="{{ route.landing.login.icon }}"></mat-icon>
    </a>
  </div>
</mat-toolbar>
