<div class="container">
  <div class="banner-image"></div>
  <section class="card-primary">
    <div class="content-header">Par projektu</div>
    <div class="content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quas
      ullam pariatur labore architecto praesentium culpa ratione ea eaque
      tempora velit, beatae reiciendis modi accusamus, sed perspiciatis
      distinctio nemo repellendus cumque cupiditate esse, corrupti quibusdam a
      saepe? Sint corrupti perspiciatis unde commodi natus dolorum ad sit ullam
      placeat asperiores necessitatibus iste eaque maxime cum minima dolore
      omnis quas, vero illo. Molestias optio perspiciatis, quisquam officia
      mollitia unde. Reprehenderit ab tempora, tempore, cupiditate veritatis
      voluptates quis ipsum vitae molestiae recusandae, magni beatae praesentium
      pariatur similique culpa facere dolor velit mollitia tenetur asperiores!
      Cupiditate, quae! Deserunt vitae dolore minima doloremque ex cupiditate.
    </div>
    <div class="content-footer">Lorem, ipsum.</div>
  </section>
  <section class="card-primary">
    <div class="content-header">Cita informācija</div>
    <div class="content">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor rerum
      molestiae ducimus rem iure? Accusamus incidunt soluta perferendis hic
      corrupti sunt, quos quam iure? Dolorum, repellat! Veritatis illum ea quo
      earum eos, animi iusto dolorum nesciunt aliquid consectetur, porro fugiat
      molestiae corporis perspiciatis exercitationem. Sunt, doloribus laboriosam
      illo obcaecati tenetur perferendis. Ratione consectetur, tempore officia
      debitis sapiente quibusdam aliquid perspiciatis repellendus est corrupti
      expedita, deleniti delectus neque nulla, error et magnam consequatur!
      Maiores possimus nesciunt veritatis iure impedit magnam rerum quo placeat
      ea a. Odio atque corrupti, deserunt in sit nisi aliquam unde ut
      perspiciatis praesentium nihil quas assumenda suscipit eligendi eos eaque
      qui eius dolorem totam magnam ipsa quasi beatae? Dolores veniam adipisci
      soluta unde eligendi debitis architecto ullam. Consequatur a sint
      provident optio aspernatur, cum minus est unde, corrupti dolores,
      dignissimos molestias. Nostrum voluptate accusantium incidunt! Similique
      at laborum inventore debitis aliquam aliquid laudantium dolores quia.
      Excepturi, minus?
    </div>
    <div class="content-footer">Lorem, ipsum.</div>
  </section>
  <section class="card-primary">
    <div class="content-header">Kaut kas vēl</div>
    <div class="content">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto expedita
      repellat sit, impedit voluptas ipsam id molestiae ducimus officia
      veritatis nemo est iste consequuntur, amet nam sunt provident dolorum,
      omnis placeat possimus corrupti. Adipisci voluptates ab necessitatibus
      incidunt possimus. Dignissimos recusandae corporis itaque pariatur
      reprehenderit natus aperiam neque eaque doloribus eos, quia iste ipsa
      velit fuga dolorem cum possimus quos non eligendi. Odio, exercitationem
      maxime modi sed ad qui laudantium pariatur optio cumque doloribus a nam
      expedita quia ex voluptatibus facilis rem veniam, quam impedit, maiores
      mollitia eligendi laboriosam dolores velit? Autem quam sint vero ut iure
      inventore nobis facere minus sequi, assumenda quasi mollitia suscipit et
      atque eos doloremque ex vitae repellendus sunt, nisi cupiditate. Molestias
      sit dolorem temporibus eligendi commodi qui quasi cupiditate quidem beatae
      a officiis esse ipsum, quae laborum assumenda eum excepturi culpa vero,
      impedit odio nostrum pariatur tempora. Molestias libero temporibus, soluta
      dolore cupiditate nam ipsum sunt cumque reprehenderit explicabo. Eos,
      dicta nobis sequi odio laborum blanditiis explicabo magnam id, enim nisi
      debitis rem perferendis voluptas voluptatibus nulla, labore temporibus
      eaque possimus repudiandae ex veniam a molestias? Mollitia odio culpa quae
      ratione dignissimos architecto consequatur rerum officiis beatae deleniti
      veniam qui odit neque provident iste illo esse ab, aspernatur consequuntur
      commodi. Nisi commodi doloremque eos, omnis consectetur fugit iusto enim
      atque impedit similique dolore porro suscipit laboriosam exercitationem
      necessitatibus voluptas vero voluptatum natus consequuntur in delectus!
      Dignissimos eius incidunt in molestiae aliquam doloribus voluptas a ipsum
      impedit. Incidunt pariatur vitae non libero rerum? Incidunt nisi officia
      esse voluptas voluptates facere perferendis sit rerum repudiandae amet.
      Cupiditate obcaecati sapiente provident, saepe laudantium sint quam
      dolorem veritatis error dolores assumenda velit, voluptates hic totam?
      Sequi illum sint repudiandae deserunt nobis, recusandae consectetur earum
      porro repellat dolore laudantium quo fuga, at totam amet? Quibusdam
      accusamus qui asperiores optio!
    </div>
    <div class="content-footer">Lorem, ipsum.</div>
  </section>
</div>
